@using 课程安排.Models
@model 课程安排.Models.WebsiteInfo
@{
    ViewBag.Title = "Home Page";
    var siteInfoFromViewBag = (WebsiteInfo)ViewBag.SiteInfo;
    var siteInfoFromViewDate = (WebsiteInfo)ViewData["SiteInfo"];
    var name = "gogogo";
}


@*<div class="jumbotron">
    <h1>@Model.SiteName</h1>
    <p>@Model.CopyRight</p>
</div>

<div class="jumbotron">
    <h1>@siteInfoFromViewBag.SiteName</h1>
    <p>@siteInfoFromViewBag.CopyRight</p>
</div>


<div class="jumbotron">
    <h1>@siteInfoFromViewDate.SiteName</h1>
    <p>@siteInfoFromViewDate.CopyRight</p>
</div>*@

